{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<section id="home-img">
    <div class="slogan">
        <h1 class="slogan-text light-text">Experts in recruiting for the Life Science industry.</h1>
    </div>
    
</section>      

<!-- Jobs -->
<section class="container-fluid jobs-section">
    <h1 class="text-blue section-title text-uppercase text-center m-5">Check the latest jobs!</h1>
    <div class="row justify-content-center no-gutters mx-3" id="jobs">
        
    
        {% for job in jobs %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 jobs-container white-box dark-text">
            <h3 class="job-header m-3"><u>{{ job.title}}</u></h3>
            <div class="job-specifics m-3">
                <div class="description text-justify m-2">
                    <p>
                        {{ job.description }}
                    </p>
                </div>
                <div class="location text-uppercase font-weight-bold m-3">
                    <i class="bi bi-geo-fill mr-4"></i>
                    <span>{{ job.location }}</span>
                </div>
                <div class="contract text-uppercase font-weight-bold m-3">
                    <i class="bi bi-calendar-check mr-4"></i>
                    <span>{{ job.contract }}</span>
                </div>
                <div class="schedule text-uppercase font-weight-bold m-3">
                    <i class="bi bi-clock-history mr-4"></i>
                    <span>{{ job.schedule }}</span>
                </div>
            </div>
            <div class="text-center m-5">
                <a href="" class="popup-btn bg-blue dark-text text-uppercase">Find out More</a>
            </div>
        </div>
        {% else %}
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 jobs-container dark-box bg-dark light-text">
            <h3 class="job-header m-3"><u>{{ job.title}}</u></h3>
            <div class="job-specifics m-3">
                <div class="description text-justify m-2">
                    <p>
                        {{ job.description }}
                    </p>
                </div>
                <div class="location text-uppercase font-weight-bold m-3">
                    <i class="bi bi-geo-fill mr-4"></i>
                    <span>{{ job.location }}</span>
                </div>
                <div class="contract text-uppercase font-weight-bold m-3">
                    <i class="bi bi-calendar-check mr-4"></i>
                    <span>{{ job.contract }}</span>
                </div>
                <div class="schedule text-uppercase font-weight-bold m-3">
                    <i class="bi bi-clock-history mr-4"></i>
                    <span>{{ job.schedule }}</span>
                </div>
            </div>
            <div class="text-center m-5">
                <a href="" class="popup-btn bg-blue dark-text text-uppercase">Find out More</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>

<!-- Our team -->
<section class="container-fluid">
    <h1 class="text-blue section-title text-uppercase text-center m-5">Meet the dream team!</h1>
    <div class="row justify-content-center no-gutters mx-3" id="team">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 team-container">
                <div class="header-container">
                    <div class="mr-auto p-3 d-flex">
                        <h3 class="m-3">
                            <span class="text-blue">Victoria Cummins</span>   
                            <span class="text-blue">Recruitment Director</span>
                        </h3>
                    </div>
                    
                </div>
                <div class="staff-photo m-auto">
                </div>
                <div class="quote text-justify m-2">
                    <p><i>A dedicated recruitment professional with 18 years’ experience in both contract recruitment and permanent placements. I have vast experience working as an agency recruiter and as an In-House recruiter. My background covers both local and multinational organisations with a private and public setting.</i></p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}